<!DOCTYPE html>
<html>
<head>
    <title>Ajay Jindal</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body class="blue darken-1">
    <nav class="nav-extended blue darken-2">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo center">Ajay Jindal</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="active" ><a class="active" href="{% url 'home' %}">Portfolio</a></li>
                <li><a href="{% url 'home' %}">Blog</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Portfolio</a></li>
        <li><a href="badges.html">Blog</a></li>
    </ul>
    <br><br><br>
    <div class="container">
        <div class="row">
            {% for job in jobs.all %}            
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ job.image.url }}"/>
                        <span class="card-title black-text">{{job.title}}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ job.summary }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    


    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
    </script>
</body>
</html>